button{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.btn-yellow{
    background-color: yellow;
    color: black;
}

.btn-black{
    background-color: black;
    color: white;
}